:host {
    display: block;
    width: 75%;
    margin: auto;
}
.menu {
    display: flex;
    flex-direction: row-reverse;
}

.option {
    margin: 10px;
    padding: 5px;
    background: #daefd7;
    cursor: pointer;
}

.option.selected {
    color: #233412;
}